.mainContent {
	height: 70%;
	background-color: transparent !important;
	padding-top: 0px;
}

#compatibilityImage {
	width: 82%;
	vertical-align: middle;
	padding-top: 10%;
	
}
.imageContent{
	margin-top: 4%;
	height: auto;
	
}
.cloudContent{
	background: url("../images/cloud.png") no-repeat;
	background-repeat: no-repeat;
	height: 40%;
	margin-top: 2%;
	margin-left: 15%;
	position: absolute;
	clip: rect(140px,70px,200px,0px);
}
.question{
	background-color: white !important;
	-webkit-box-shadow: rgba(0, 0, 255, 0.8) 0px 0 10px;
	margin-top:5%;
	height: auto;
	width:60%;
	border-radius: 50px;
}
.questionBox {
	background-color: transparent !important;
	padding-top: 0px;
	width:auto;
}
.questionArea{
	height:auto;
	margin-bottom: 40px;
}
.answerArea{
	height:28%;
	margin-bottom: 60px;
}
.answer{
	height: auto;
	padding-top: 2%;
	background-color: white !important;
	-webkit-box-shadow: rgba(0, 0, 255, 0.8) 0px 0 10px;
}
.mainContentAnswerSelect{
	height: 60%;
}
.octoTalk > h1{
	font-family: 'Kalam', cursive;
	font-size: 170%;
}

.previousButton{
	padding-bottom: 2%;
}
.nextButton{
	padding-bottom: 2%;
}
#previous{
	width: 100%;
	height: 30%;
	background-color: #0877BC;
	outline: none;
	color: #fff;
	
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #0877BC;
	font-family: 'Kalam', cursive;
	font-size: 170%;
}
#next{
	width: 100%;
	height: 30%;
	background-color: #0877BC;
	outline: none;
	color: #fff;
	
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #0877BC;
	font-family: 'Kalam', cursive;
	font-size: 170%;
}

#next:hover, #next:focus{
	color: #fff;
	background-color: #e65a58;
	border-color: #e65a58;
}
#previous:hover, #previous:focus{
	color: #fff;
	background-color: #e65a58;
	border-color: #e65a58;
}
#submit{
	width: 100%;
	height: 30%;
	background-color: #0877BC;
	outline: none;
	color: #fff;
	
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #0877BC;
	font-family: 'Kalam', cursive;
	font-size: 170%;
}

#submit:hover, #submit:focus{
	color: #fff;
	background-color: #e65a58;
	border-color: #e65a58;
}
.errorMsg {
		font-size: 1em;
		font-family: 'Bubblegum Sans', cursive;
		letter-spacing: 1px;
		color: indianred;
	}
.selectpicker{
	font-family: 'Bubblegum Sans', cursive;
}
@media ( max-width : 767px) {
#compatibilityImage {
	max-width: 60%;
	padding-bottom: 10%;
}
.imageContent{
	padding-left: 28%;
}
}