.mainContent {
	height: auto;
	background-color: transparent !important;
	padding-bottom: 70px;
}

.mainContentPart1 {
	height: 53%;
	background-color: white !important;
	-webkit-box-shadow: rgba(0, 0, 255, 0.8) 0px 0 10px;
	margin-bottom: 5%;
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 5px !important;
}

.mainContentPart2 {
	height: 53%;
	background-color: white !important;
	-webkit-box-shadow: rgba(0, 0, 255, 0.8) 0px 0 10px;
	margin-bottom: 5%;
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 5px !important;
	padding-top: 5px !important; 
	text-align: center;
}



#QuinLori {
	width: 100%;
	align: center;
}
.octoTalk>h1{
	font-family: 'Kalam', cursive;
	font-size: 110%;
}
.compatibilityButton{
	height: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 100%;
	-webkit-box-shadow: rgba(0, 0, 255, 0.8) 0px 0 10px;
	font-size: 80%;
	letter-spacing: 1px;
	white-space: normal;
}
.uploadButton{
	height: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	width: 90%;
	-webkit-box-shadow: rgba(0, 0, 255, 0.8) 0px 0 10px;
	font-size: 100%;
	letter-spacing: 1px;
	white-space: normal;
	margin-top: 9%;
}
.quloText {
	margin-top: 1%;
	font-family: 'Bubblegum Sans', cursive;
	text-align: center;
	font-size: 150%;
}
.profilePic{
	width: auto;
	-webkit-box-shadow: rgba(0, 0, 255, 0.8) 0px 0 10px;
	align: center;
}
input[type=file] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}
#flyin {
  width: 300px;
  height: 100px;
  position: absolute;
  left: -100px;
  padding-top: 70px;
  text-align: right;
}
#Quin {
    
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.15);
    float: left;
    height: 100px;
}
.appear{
	height: 10%;
}

@media ( max-width : 767px) {
	/* For mobile phones: */
	[class*="col-sm-"] {
		width: 100%;
	}
	.mainContentPart1 {
		height: auto;
		padding-left: 20px !important;
		padding-right: 20px !important;
		padding-top: 5px !important;
		margin-top: 15px !important;
	}
	.mainContentPart2 {
		height: auto;
	}
	#QuinLori {
		width: 60%;
		align: center;
	}
	.landingTextPage {
		font-size: 120%;
	}
	.compatibilityButton{
		font-size: 100%;
	}
	.profilePic{
	width: 50%;
	margin-left: 25%;
	}
}