#logo {
	height: 50px;
	margin-top: -14.5px;
}

#logo:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.myFooter {
	display: inline-block;
	float: none;
	margin-bottom: 5px;
	margin-top: 5px;
}
.navbar{
	font-size: 110%;
}
.navbar-inverse {
	background-color: #e65a58;
	border-color: #e65a58;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #000000;
}

.navbar-inverse .navbar-nav>li>a:active {
	color: Red;
}

.navbar-inverse .navbar-toggle {
	background: #e65a58;
}

.navbar-toggle:hover {
	background-color: #a90000 !important;
}

.navbar-default {
	background-color: #e65a58;
	border-color: #FFFFFF;
	height: 30px;
}

.navbar-default .navbar-text {
	color: #FFFFFF;
}